/* 
    Document   : style
    Created on : 4 janv. 2014, 23:40:25
    Author     : alban
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background: url('/images/bg.png') repeat top center;
    background-image: linear-gradient(#000,#fff);
    overflow-x: hidden;
}
body a {
    cursor: pointer;
}
body dl{
    margin: 0px;
}

body ul,
body li{
    list-style: none;
    margin:0px;
    padding:0px;
}

/*Item container*/

.item-container{
    
}

/* Item list */
.panel{
    background: none repeat scroll 0 0 rgba(255,255,255, 0.98);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.34);
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 1%;
    position: fixed;
    top: 0x;
    z-index: 2;
}
.panel-close {
    cursor:pointer;
    color: white;
    float: right;
    font-weight: bold;
    padding: 4px 8px;
    position: absolute;
    right: 0;
    top: 0;
    background: #CCF;
    text-align: center;
}
.panel-close:before{
    content:"Press Esc or click here ";
}
.panel ul,
.panel dd,
.panel a
{
    font-family: monospace;
}

.item-list-outer {
    width: 28%;
}
.item-list{
    margin-bottom: 15px;
}
.item-list a {
    padding: 5px 0;
    text-decoration: none;
}

/* Item show */

.item-show{
    margin-bottom: 15px;
}
.item-show-outer {
    left: 30%;
    width: 68%;
}

.item-show-link {
    background: none repeat scroll 0 0 transparent;
    display: inline;
    line-height: 1;
    padding: 0 3px;
    text-decoration: underline;
    font-style:italic;
}

.item-show-link:before {
    content: "➜ ";
}

/* nav */

.nav-container{
    background: #EEE;
    display: table;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

}
.nav-container .nav{
    display: inline-block;
    margin:0px;
    padding:0px;
}
.nav-container .menu-toggle {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    color: #EEEEEE;
    display: table-cell;
    padding: 8px;
}
.nav-container .nav-content{
    display: table-cell;
    padding-left: 8px;
}
.nav-container input.search {
    margin-top: 10px;
}
/* slider */
.scroll {
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 300ms ease-out;
    width: 100%;
}
.horizon {
    line-height: 0;
    height: 2250px;
    z-index: -3;
}
.middle {
    line-height: 0;
    height: 4500px;
    z-index: -2;
}
.front {
    top: 5%;
    margin-top:36px;
    height: 6000px;
    z-index: 0;
}
.page {
    background: none repeat scroll 0 0 white;
    padding: 10px 30px;
    position: absolute;
    top: 0;
    width: 39%;
    min-width: 400px;
    max-width: 900px;
}
.description {
    top: 100px;
}
.programs {
    top: 1300px;
}
.attacks {
    top: 2300px;
}
.compartiments {
    top: 3300px;
}
.undefineds{
    top: 4300px;
}
.contacts{
    top: 5300px;
}
.slider img{
    border: 0 none;
    height: auto;
}

.visual.subpanel {
    text-align: center;
}
