/* 
    Document   : style
    Created on : 4 janv. 2014, 23:40:25
    Author     : alban
    Description:
        Purpose of the stylesheet follows.
*/
body{
    /*background: url('/images/bg.png') repeat top center;*/
    /*background-image: linear-gradient(#000,#fff);*/
    /*overflow-x: hidden;*/
    font-family:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body a {
    cursor: pointer;
}
body dl{
    margin: 0px;
}

body ul,
body li{
    list-style: none;
    margin:0px;
    padding:0px;
}

/*Item container*/

.item-container{
    
}

/* Item list */
.panel{
    background: none repeat scroll 0 0 rgba(255,255,255, 0.98);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.34);
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 1%;
    position: fixed;
    top: 0px;
    z-index: 2;
}
.panel-close {
    cursor:pointer;
    color: white;
    float: right;
    font-weight: bold;
    padding: 4px 8px;
    position: absolute;
    right: 0;
    top: 0;
    background: #CCF;
    text-align: center;
}
.panel-close:before{
    content:"Press Esc or click here ";
}
.panel ul,
.panel dd,
.panel a
{
    font-family: monospace;
}

.item-list-outer {
    width: 28%;
}
.item-list{
    margin-bottom: 15px;
}
.item-list a {
    padding: 5px 0;
    text-decoration: none;
}

/* Item show */

.item-show{
    margin-bottom: 15px;
}
.item-show-outer {
    left: 30%;
    width: 68%;
}

.item-show-link {
    background: none repeat scroll 0 0 transparent;
    display: inline;
    line-height: 1;
    padding: 0 3px;
    text-decoration: underline;
    font-style:italic;
}

.item-show-link:before {
    content: "➜ ";
}

/* nav */

.nav-container{
    background: #EEE;
    display: table;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;

}
.nav-container .nav{
    display: inline-block;
    margin:0px;
    padding:0px;
}
.nav-container .menu-toggle {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    color: #EEEEEE;
    display: table-cell;
    padding: 8px;
}
.nav-container .nav-content{
    display: table-cell;
    padding-left: 8px;
}
.nav-container input.search {
    margin-top: 10px;
}
.page {
    padding :30px 0;
}
.row .span12{
    text-align: center;
}
.slider h1,
.slider h2,
.slider h3,
.slider h4
{
    font-weight: normal;
    line-height: 2em;
}
.row .span12 [class*="span"]
{
    text-align: left;
}
.row .span12 [class="span4"]
{
    text-align: justify;
}

svg {
    width: 100%;
    background: #fcfcfc;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1) inset;
}
.graph-label{
    opacity: 0.4;
}
.graph-label:hover{
    opacity: 1;
}
.slider svg circle{
    transition: fill 500ms ease 0s;
}
.slider svg circle:hover{
    fill:#f8f8f8;
    stroke:#ccc;
    stroke-width: 0.5px;
}
svg .programs{
    fill:#f88;
}

svg .compartiments{
    fill:#8f8;
}

svg .attacks{
    fill:#88f;
}

svg .undefineds{
    fill:#ccc;
}

svg .collect{
    fill:#0f0;
}

svg .process{
    fill:#f0f;
}

svg .database{
    fill:#0ff;
}

svg .target{
    fill:#f00;
}

svg .attack{
    fill:#00f;
}
