<template name="export">
{{#if showExport }}
    <div class="export-wrapper">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3>
                        Export data
                    </h3>
                    <div class="btn-group">
                        <a class="btn export-json">Export as json</a>
                        <a class="btn export-wiki">Export as wiki</a>
                        <a class="btn export-close">Close</a>
                    </div>
                    <div class="export-content" style="display:none">{{#if wikiType}}{{#each itemList}}{{> itemWikiAtom }}{{/each}}{{else}}{{ JSONitemList }}{{/if}}</div>
                    <textarea class="visible-content"></textarea>
                </div>
            </div>
        </div>
    </div>
{{/if}}
</template>