<template name="itemShow">
    <div class="panel-close">x</div>
    <h3>{{ currentItem.name }}</h3>
    <div class="item-show">
        <dl class="dl-horizontal">
            <dt>Description
            <dd>{{{ currentItem.description }}}&nbsp;
            <dt>Category
            <dd><a class="item-show-link category-link" category="{{ currentItem.category }}">{{ currentItem.category }}</a> &nbsp;
            <dt>Family
            <dd><a class="item-show-link family-link" category="{{ currentItem.category }}" family="{{ currentItem.family }}">{{ currentItem.family }}</a>&nbsp;
            <dt>Related items
            <dd>
                <ul>
                {{#each currentItem.relatedItems}}
                    {{#if this }}
                        <li>{{{this}}}
                    {{/if}}
                {{/each}}
                </ul>&nbsp;
            <dt>Links
            <dd>
                <ul>
                {{#each currentItem.links}}
                {{{ externalLink this }}}
                {{/each}}
                </ul>&nbsp;
        </dl>
    </div>
</template>