<template name="itemShow">
    <div class="item-show">
        <div class="close pull-right"><i class="caret"></i></div>
        <dl class="dl-horizontal">
            <dt>Name
            <dd>{{ currentItem.name }}
            <dt>Description
            <dd>{{ currentItem.description }}
            <dt>Family
            <dd><a class="family-link" family="{{ currentItem.family }}">{{ currentItem.family }}</a>
            <dt>Category
            <dd><a class="category-link" category="{{ currentItem.category }}">{{ currentItem.category }}</a>
            <dt>Related items
            <dd>
                <ul>
                {{#each currentItem.relatedItems}}
                    {{#if this }}
                        <li><a href="{{this}}" class='internal-link'>{{this}}</a></li>
                    {{/if}}
                {{/each}}
                </ul>
        </dl>
    </div>
</template>