<template name="slider">
    <div class="slider">

		<div class="horizon scroll">
			<img src="/images/horizon.png" alt="" />
		</div>
		
		<div class="middle scroll">
			<img src="/images/middle.png" alt="" />
		</div>
		
		<div class="front scroll">
                        
			<div class="description page">
                            <div class="symbolic subpanel">
                                
                            <h2>Welcome to the "NSA Observer"</h2>
                            <p>
                                You will find here informations about {{num}} NSA programs, 
                                compartiments, or attack vectors. 
                            </p> 
                            <h3>Compart What?</h3>
                            <p>
                                Yes, the words "attack vectors" or "compartiments" are unusual and weird. 
                            </p>
                            <p>
                                Reading about <i>"intelligence"</i> means going
                                through a lot of jargon. But don't be afraid, 
                                definitions or links will help.
                            </p>
                            <h3>Why are you doing this?</h3>
                            <p>
                                Because we think it's important for citizens to understand what's being released, and why they must act to protect their privacy.
                                Because it's hard to keep track of everything that was leaked, and it keeps coming.
                                Because we think a collaborative initiative is required for this information to be maintained on the long run.
                                Because we didn't find this vizualisation anywere else.
                            </p>
                            </div>
                            <h3>How does it work?</h3>
                            <p>
                                Read these panels. Click on a category (ex: <a class="item-show-link" category="program" family="collect">Collect</a>) to show a list of related names. 
                                Clicking on a name will show its details and you can close the interface by pressing on ESC or clicking the x button. 
                            </p>
                            <p>
                                If you're coming back and want to access the database content directly, the top right arrow displays a menu.
                            </p>
                            </div>

				
                    </div>

                    <div class="programs page">
                        
                            <div class="symbolic subpanel">
                            <h2>{{programs_num}} NSA programs</h2>
                                <img src="/images/nsaobserver-programs.png" usemap="#programs">
                            <p> 
                                <a class="item-show-link" category="program">Programs</a>
                                can be defined as multi millions projects,
                                involving groups of countries, companies, indivisuals 
                                and technologies in the making of softwares 
                                used by NSA teams vor various purpose.
                            </p>
                            <p>
                                They are used to gather data and handle this data
                                in order to determine how to gather more data. 
                                Most of the time, this data is gathered through
                                pervasive means.
                            </p>
                            <dl class="dl-horizontal">
                                <dt><a class="item-show-link" category="program" family="collect">Collect</a><dd> Retrieves information from sources,
                                <dt><a class="item-show-link" category="program" family="process">Process</a><dd> Computes and search data in gathered information,
                                <dt><a class="item-show-link" category="program" family="database">Database</a><dd> Store the processed data,
                                <dt><a class="item-show-link" category="program" family="target">Target</a><dd> Determines people to track based on data,
                                <dt><a class="item-show-link" category="program" family="attack">Attack</a><dd> Executes attacks on targeted people to collect new information.
                            </dl>
                            </div>
                            <div class="visual subpanel">
                            </div>
                    </div>

                    <div class="attacks page">
                            <div class="symbolic subpanel">
                            <h2>{{attacks_num}} NSA Attack Vectors</h2>
                            <p>
                                <a class="item-show-link" category="attack vector">Attack vectors</a>
                                are executed on targeted individuals and/or 
                                organizations in order to gather more personal 
                                informations.
                            </p>
                            <p>
                                These attacks are most of the time directly 
                                aimed at individuals who have been determined
                                as data-worthy.
                            </p>
                            <dl class="dl-horizontal">
                                <dt><a class="item-show-link" category="attack vector" family="physical">Physical</a><dd> Attacks operated through material means,
                                <dt><a class="item-show-link" category="attack vector" family="software">Software</a><dd> Attacks operated via software installed on target,
                                <dt><a class="item-show-link" category="attack vector" family="network">Network</a><dd> Attacks necessiting a manipulation of network traffic.
                            </dl>
                            </div>
                    </div>

                    <div class="compartiments page">
                            <div class="symbolic subpanel">
                            <h2>{{compartiments_num}} NSA Compartiments</h2>
                            <p>
                                <a class="item-show-link" category="compartiment">Compartiment</a>
                                is a "jargon" word used to describe a group
                                of companies or countries.
                            </p>
                            <p>
                                Intelligence agencies build groups of people
                                ignorant of who the other groups are
                                for higher security. Should a compartiment 
                                be compromised, each other compartiment should 
                                be safe.
                            </p>
                            <dl class="dl-horizontal">
                                <dt><a class="item-show-link" category="compartiment" family="ECI">ECI</a><dd>Extremely Compartimented Information 
                            </dl>
                            </div>
                    </div>

                    <div class="undefineds page">
                            <div class="symbolic subpanel">
                            <h2>{{undefineds_num}} undetermined items</h2>
                            <p>
                                We have still a large number of <a class="item-show-link" category="undefined">undefined</a>
                                items for one of many reasons.  
                            </p>
                            <p>
                                We welcome assistance and help is appreciated. 
                                Feel free to contact us if you'd like to 
                                help us get this thing started.
                            </p>
                            </div>
                    </div>

                    <div class="contacts page">
                            <div class="symbolic subpanel">
                            <h2>Contact </h2>
                            <p>
                                {todo : contact form}
                            </p>
                            <h3>
                                Legal 
                            </h3>
                            <p>This website is hosted by OVH. </p>
                            <p>
                                140 Quai du Sartel, 59100 Roubaix
                                <br>
                                Tel : 0 899 70 17 61</p>
                            <h3>Licence</h3>
                                <p>The content of this site is provided under the Creative Commons CA BY SA.</p>
                                <p>Basically, feel free to use it and simply refer to the source as "NSA Observer".</p>
                            <h3>Tracking</h3>
                                <p>This site is tracker free.</p>
                            </div>
                    </div>
    </div>

</template>