<template name="slider">
    <div class="slider">

		<div class="horizon scroll">
			<img src="/images/horizon.png" alt="" />
		</div>
		
		<div class="middle scroll">
			<img src="/images/middle.png" alt="" />
		</div>
		
		<div class="front scroll">
                        
			<div class="description page">
                            <h2>Welcome to the NSA Observer</h2>
                            <p>
                                Since the Snowden unveiling of the NSA Global 
                                Surveillance, newspapers have released
                                massive amounts of data for public information.
                            </p>
                            <p>
                                It has since been a hard work keeping "a large 
                                view" of all these informations about the NSA 
                                programs (ie. multimillions dollars projects), 
                                compartiments (secret groups of companiers 
                                and/or countries), and attack vectors (tools 
                                used to spy on people).
                            </p>
                            <p>
                                This website aims at keeping track of each and
                                every bit of informations regarding these 
                                programs, compartiments, and attack vectors.
                            </p>
                            <p>
                                Why? Because we think it is of an utmost 
                                importance for the good of everyone who likes
                                freedom to understand what's happening right
                                now and why we, the People, must act.
                            </p>
				
                    </div>

                    <div class="documentation page">
                            <h2>What is an NSA program?</h2>
                            <p> 
                                A program takes its place on the wheel of spying.
                            </p>
                            <p>
                                It has to either represent a way to <a class="item-show-link" category="program" family="collect">collect
                                information</a>, or a way to <a class="item-show-link" category="program" family="process">process collected 
                                information</a>, or a way to <a class="item-show-link" category="program" family="database">store information</a> in a 
                                database, or a way to <a class="item-show-link" category="program" family="target">target people</a> based on 
                                database informations, or a way to <a class="item-show-link" category="program" family="attack">attack targeted people</a> 
                                to collect more information.
                            </p>
                            <p>
                                todo : insert graphics
                            </p>
                    </div>

                    <div class="options page">
                            <h2>What is an Attack Vector?</h2>
                            <p>
                                todo
                            </p>
                    </div>

                    <div class="download page">
                            <h2>What is a compartiment</h2>
                            <p>
                                todo
                            </p>
                    </div>
    </div>

</template>