<template name="slider">
    <div class="slider">

		<div class="horizon scroll">
			<img src="/images/horizon.png" alt="" />
		</div>
		
		<div class="middle scroll">
			<img src="/images/middle.png" alt="" />
		</div>
		
		<div class="front scroll">
                        
			<div class="description page">
                            <div class="symbolic subpanel">
                                
                            <h2>Welcome to the NSA Observer</h2>
                            <p>
                                It tries to keep a "big picture" view of Snowden 
                                revelations on...
                            </p>
                                <ul>
                                    <li><a class="item-show-link" category="program">NSA programs</a>
                                    <li><a class="item-show-link" category="compartiment">NSA compartiments</a>
                                    <li><a class="item-show-link" category="attack vector">NSA attack vectors</a>
                                </ul>
                            </div>

                            <div class="visual subpanel">
                                todo : insert graph
 
                            </div>
				
                    </div>

                    <div class="documentation page">
                        
                            <div class="symbolic subpanel">
                            <h2>What is an NSA program?</h2>
                            <p> 
                                Earch program is a way to either...
                            </p>
                            <ul>
                                <li><a class="item-show-link" category="program" family="collect">collect information</a>
                                <li><a class="item-show-link" category="program" family="process">process collected information</a>
                                <li><a class="item-show-link" category="program" family="database">store the processed data</a>
                                <li><a class="item-show-link" category="program" family="target">target people based on data</a>
                                <li><a class="item-show-link" category="program" family="attack">attack targeted people to collect new information</a>
                            </ul>
                            </div>
                            <div class="visual subpanel">
                                todo : insert graph
 
                            </div>
                    </div>

                    <div class="options page">
                            <div class="symbolic subpanel">
                            <h2>What is an Attack Vector?</h2>
                            <p>
                                They are executed on targeted individuals and/or 
                                organizations in order to gather more personal 
                                informations.
                            </p>
                            <ul>
                                <li><a class="item-show-link" category="attack vector" family="physical"> Physical devices or channels</a> attacks
                                <li><a class="item-show-link" category="attack vector" family="software"> Software based</a> attacks
                                <li><a class="item-show-link" category="attack vector" family="network"> Network based</a> attacks.
                            </ul>
                            </div>
                            <div class="visual subpanel">
                                todo : insert graph
 
                            </div>
                    </div>

                    <div class="download page">
                            <div class="symbolic subpanel">
                            <h2>What is a Compartiment?</h2>
                            <p>
                                It is a "jargon" word used to describe a group
                                of companies or countries.
                            </p>
                            <p>
                                Intelligence agencies have a long tradition of 
                                separated groups for higher security.
                            </p>
                            </div>
                            <div class="visual subpanel">
                                todo : insert graph
 
                            </div>
                    </div>
    </div>

</template>